kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Chart.Name }}-config
data:
  config.json: |
    {
        "token_hmac_secret_key": "",
        "api_key": "",
        "allowed_origins": [
            "easypdf.ru"
        ],
        "uni_sse": true,

        "allow_subscribe_for_anonymous": true,
        "allow_subscribe_for_client": true,
        "allow_history_for_anonymous": true,

        "history_size": 100,
        "force_recovery": true,
        "history_ttl": "600s",

        "admin_password": "",
        "admin_secret": "",
        "admin": true
    }